/*.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.info-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.email-form label {
  margin: 0.5rem 0;
}

.email-form input,
.email-form textarea {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.email-form button[type="submit"] {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #0066cc;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}*/

.contactUsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.contactUsContainer {
  padding: 50px;
}

/*.info-section {
  flex-basis: 20%;
  margin-right: 2rem;
  font-size: 0.4rem;
  text-align: right;
  padding-top: 1rem;
}*/
.info-section {
  /* padding-top: 247.5px; */
  /* position: absolute; */
  /* top: 20px; */
  /* right: 20px; */
  font-size: 12px;
  /* width: 50vw; */
}

.info-section p {
  /* margin: 0.5rem 0; */
  font-size: x-large;
}

.contacTitle {
  font-size: x-large;
  text-decoration: underline;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .info-section {
    flex-basis: 100%;
    margin-right: 0;
    text-align: center;
  }
}
