.collapsible .content {
    padding: 6px;
    background-color:forestgreen;
}
.collapsible {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
.collapsible .header {
    background-color: #dddddd;
    border-style: solid;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    height: 40px;
    font-size: xx-large;
}
.center{
    diplay: flex;
    width: 100%;
    justify-content: center;
}

.bigMama {
    align-items: center;
    text-align: left;
    margin-left: 2.5%;
    
}
.fill_me_with_letters {
    width: 1150px;
    height: 50px;
    font-size: 200%;
    text-align: left;
    text-indent: 2.5%;
    background-color: #d8f2d0;
    border-color: darkgreen;
}

.head {
    font-size: 200%
}