
.zubbort {
  font-size: 2rem;
  text-align: left;
  margin-left: 0.5%;
  margin-right: 5;
  font-weight: lighter;

}
.bleaseHelp {
  font-size: 5rem;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.vDesk {
  font-size: 2rem;
  text-align: left;
  margin-left: 0.5%;
  font-weight: lighter;
  margin-bottom: 5%;
}

.foolentreeing {
  font-size: 5rem;
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
}

.zEmail {
    text-align: left;
    font-size: 3rem;
    margin-left: 10%;
}
.iMail {
  margin-left: 10%;
  margin-bottom: 2%

}
.zName {
  text-align: left;
  font-size: 3rem;
  margin-left: 10%;
}
.iName {
margin-left: 9.5%;
margin-bottom: 2%

}
.boxy {
  margin-top: 10%
}
