.blockRow {
    display: flex;
    align-items: flex-start;
}

.blockWrapper {
    border-style: solid;
    border-radius: 5px;
    padding: 7.5px;
    margin: 3px;
}

.blockTitle {
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
}

.blockBlank {
    width: 20vw;
    min-width: 80px;
    height: 50px;
}

.blockBlankSelected {
    width: 20vw;
    background-color: rgb(147, 235, 147);
    min-width: 80px;
    height: 50px;
    font-size: small;
    text-align: center;
    padding: 4px;
}

.rowBlank {
    width: 40vw;
    min-width: 160px;
    height: 50px;
}

.rowBlankSelected {
    width: 40vw;
    background-color: rgb(147, 235, 147);
    min-width: 160px;
    height: 50px;
    font-size: small;
    text-align: center;
    padding: 4px;
}