.blockRow {
    display: flex;
    align-items: flex-start;
}

.blockWrapper {
    border-style: solid;
    border-radius: 5px;
    padding: 7.5px;
    margin: 3px;
}

.blockTitle {
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
}

